<body style="background-color:#f2f2f2"><p style="text-align:center; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
<table align="center" style="background-color:#FFFFFF; border-color:#cccccc; border-style:solid; border-width:1px; font-family:verdana,geneva,sans-serif; font-size:13px; padding:10px; width:600px">
	<tbody>
		<tr>
			<td>
			<div style="padding-bottom:10px;"><a href="http://www.fraudcheck.co.za"><img src="http://qa3.fraudcheck.co.za/images/fraudcheck_logo.png" /></a></div>

			<p style="text-align:justify">&nbsp;</p>

			<p>Kind Regards<br />
			<br />
			<strong>Fraudcheck Support Team</strong></p>

			<p><strong>T:</strong> 011 262 5252<br />
			<strong>E:</strong> <a href="mailto:support@fraudcheck.co.za">support@fraudcheck.co.za</a></p>
			</td>
		</tr>
	</tbody>
</table>
</body>